@model IEnumerable<MvcBasic.DataBase.Entity.Article>

@{ 
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Linq", FormMethod.Get,
    new { @class = "form-inline" }))
{
    @Html.Label("keyword", "キーワード", new { @class = "control-label" })
    @Html.TextBox("keyword", null, new { @class = "form-control" })
    @Html.Label("released", null, new { @class = "control-label" })
    @Html.CheckBox("released")
    <input type="submit" value="検索" class="btn btn-info" />
}
<hr/>
<table class="table">
<thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Category)</th>
        <th>@Html.DisplayNameFor(model => model.Published)</th>
    </tr>
</thead>
<tbody>
@foreach(var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(_ => item.Title)</td>
        <td>@Html.DisplayFor(_ => item.Category)</td>
        <td>@Html.DisplayFor(_ => item.Published)</td>
    </tr>
}
</tbody>　
</table>
